.home {
  min-height: 100vh;
  height: auto;
  background: #000;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  &-search {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    input {
      padding: 10px;
      outline: none;
      border: 1px solid #ccc;
      width: 300px;
      font-size: 18px;
      border-radius: 10px;
      margin: 20px 0;
    }

    button {
      font-size: 18px;
      border: 1px solid #ccc;
      padding: 5px;
      color: #fff;
      background: #f3b542;
      margin-left: 10px;
      border-radius: 5px;
      outline: none;
    }
  }

  &-grid{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;
      flex-wrap:wrap;
      
      .home-meal{
          text-align: center;
      }

      img{
          width:250px;
          border: 1px solid #ccc;
          margin: 10px;
          transition: all 0.4s ease;
          border-radius:10px;

          &:hover{
              transform:scale(1.1)
          }
      }

  }
}
