.categories {
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  cursor: pointer;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 170px;
    margin: 5px;
    transition: all 0.2s ease-in;

    &:hover {
      transform: scale(1.1);
    }
  }
}
