.navbar {
  width: 100%;
  height: 10vh;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  left:0;
  z-index: 50;

  &-heading {
    h1 {
      margin-left: 20px;
      font-size: 30px;

      span {
        color: #f3b542;
      }
    }
  }

  &-links {
    ul {
      display: flex;
      list-style: none;
    }

    a {
      color: #fff;
      text-decoration: none;
      margin: 0px 10px;
      padding: 10px;
      background: lighten($color: #000000, $amount: 15);
      border-radius: 5px;
      font-size: 20px;
      transition: all 0.4s ease;

      &:hover{
          color: #f3b542;
      }
    }
  }
}
