.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #000; 
    color: #fff;
    height: 10vh;
    border-top: 1px solid #ccc;

    p{
        font-size: 18px;
        span{
            color:#f3b542;
        }
    }
}