.random {
  width: 100%;
  height: 100vh;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: 250px;
    border: 1px solid #ccc;
    transition: all 0.4s ease;
    &:hover {
      transform: scale(1.1);
    }
  }

  &-grid {
    &-controls {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      button {
        margin-top: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        outline: none;
        background: #000;
        color: #fff;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;

      }
    }

    &-instructions {
      text-align: center;
      padding: 10px;

      p {
        font-size: 18px;
      }
    }
  }
}
